* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #Ebc353;
}

nav {
    padding: 20px;
    /* width: 70%; */
    margin: auto;
    background-color: white;
}

nav div {
    display: inline-block;
    width: 20%;
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 10px;
}

nav div img {
    width: 20%;
}

nav ul {
    width: 75%;
    display: inline-block;
    font-size: 1.5em;
}

nav ul li {
    display: inline;
    margin-left: 20px;
    float: right;
}

main {
    padding: 30px;
    width: 70%;
    text-align: center;
    margin: auto;
    /* background-color: red; */
}


/* main div {
    display: inline-block;
} */

main div:nth-child(1) {
    /* background-color: purple; */
    width: 30%;
    margin-top: 25px;
    margin: auto;
    margin-top: 60px;
}

main div:nth-child(1) img {
    width: 100%;
    border-radius: 15% 15% 15% 15%;
    border: 2px solid black;
    box-shadow: 0px 0px 10px 1px rgb(0, 0, 0);
}


/* main div:nth-child(2) {
    height: 80vh;
} */

#greeting {
    font-size: 3em;
    font-weight: bolder;
    padding-top: 20px;
}

#explaination {
    font-size: 1.3em;
}

#explaination span {
    font-weight: bolder;
    display: in-block;
}